# Секреты и конфигурация
.env
.env.local

# База данных и логи (они создадутся заново на сервере)
*.db
*.sqlite3
*.log

# Виртуальное окружение Python
venv/
env/
.venv/
ENV/

# Кэш Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Папки IDE и редакторов кода
.vscode/
.idea/
*.swp
*.swo

# Операционная система
.DS_Store
Thumbs.db
